<div class="container">
    <div class="row">
        <div class="col-sm-6 col-lg-3 mt-4">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalPopovers">
                Modal with Tooltip
            </button>
            <div class="modal fade" id="exampleModalPopovers" tabindex="-1" aria-labelledby="exampleModalPopoversLabel"
                style="display: none;" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalPopoversLabel">Modal title</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h5>Popover in a modal</h5>
                            <p>This <a href="#!" data-bs-toggle="popover" role="button"
                                    class="btn btn-secondary popover-test" title=""
                                    data-bs-content="Popover body content is set in this attribute."
                                    data-bs-container="#exampleModalPopovers"
                                    data-bs-placement="top"
                                    data-bs-original-title="Popover title">button</a> triggers a popover on click.</p>
                            <hr>
                            <h5>Tooltips in a modal</h5>
                            <p><a href="#!" data-bs-toggle="tooltip" class="tooltip-test" title=""
                                    data-bs-container="#exampleModalPopovers" data-bs-original-title="Tooltip">This
                                    link</a> and
                                <a href="#!" class="tooltip-test" data-bs-toggle="tooltip" title=""
                                    data-bs-container="#exampleModalPopovers" data-bs-original-title="Tooltip">that
                                    link</a> have tooltips on hover.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3 mt-4">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Launch demo modal
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3 mt-4">

            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                data-bs-target="#exampleModalFullscreen">Full screen Modal</button>

            <div class="modal fade" id="exampleModalFullscreen" tabindex="-1"
                aria-labelledby="exampleModalFullscreenLabel" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-fullscreen">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title h4" id="exampleModalFullscreenLabel">Full screen modal</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Diam quam nulla porttitor massa id. Vel
                                orci porta non pulvinar neque laoreet. Massa tincidunt nunc pulvinar sapien et
                                ligula
                                ullamcorper malesuada. Massa sed elementum tempus egestas sed sed risus. Nisl
                                tincidunt
                                eget nullam non nisi est sit amet facilisis. A diam maecenas sed enim ut sem viverra
                                aliquet. Mattis vulputate enim nulla aliquet porttitor lacus. Amet mattis vulputate
                                enim
                                nulla aliquet porttitor lacus luctus accumsan. Nibh ipsum consequat nisl vel pretium
                                lectus. Molestie at elementum eu facilisis sed odio morbi quis. At tempor commodo
                                ullamcorper a lacus vestibulum. Odio tempor orci dapibus ultrices in iaculis nunc.
                                Nisl
                                pretium fusce id velit ut tortor pretium. Donec enim diam vulputate ut pharetra sit
                                amet
                                aliquam.
                            </p>

                            <p>
                                Commodo quis imperdiet massa tincidunt nunc pulvinar sapien et. Quam quisque id diam
                                vel
                                quam. Mauris pharetra et ultrices neque ornare. Tellus in metus vulputate eu
                                scelerisque
                                felis imperdiet proin fermentum. Tortor at risus viverra adipiscing at in tellus
                                integer
                                feugiat. Tellus id interdum velit laoreet id donec. Diam phasellus vestibulum lorem
                                sed
                                risus ultricies tristique nulla. Velit scelerisque in dictum non consectetur a erat.
                                Aliquet risus feugiat in ante metus dictum at tempor. Sit amet porttitor eget dolor
                                morbi non arcu risus. Mattis nunc sed blandit libero volutpat sed cras ornare arcu.
                                Odio
                                ut enim blandit volutpat maecenas volutpat. Cum sociis natoque penatibus et magnis.
                                Rhoncus aenean vel elit scelerisque. Sit amet dictum sit amet justo donec. Ac turpis
                                egestas sed tempus urna. Sit amet mauris commodo quis.
                            </p>

                            <p>
                                Eget nullam non nisi est. Feugiat in fermentum posuere urna nec tincidunt praesent
                                semper. Justo nec ultrices dui sapien eget mi proin sed. Nisl vel pretium lectus
                                quam
                                id. Donec ac odio tempor orci dapibus ultrices in. Ultricies leo integer malesuada
                                nunc.
                                Faucibus vitae aliquet nec ullamcorper sit amet. Nunc sed velit dignissim sodales ut
                                eu
                                sem. Amet mauris commodo quis imperdiet massa tincidunt nunc. Mauris rhoncus aenean
                                vel
                                elit scelerisque. Platea dictumst vestibulum rhoncus est. Iaculis eu non diam
                                phasellus
                                vestibulum. Amet mattis vulputate enim nulla aliquet porttitor lacus luctus. Vitae
                                ultricies leo integer malesuada. Scelerisque purus semper eget duis. Odio morbi quis
                                commodo odio aenean. Vitae nunc sed velit dignissim sodales ut eu sem. Sit amet
                                venenatis urna cursus eget.
                            </p>


                            <p>
                                Amet justo donec enim diam vulputate ut. Eget nulla facilisi etiam dignissim diam.
                                Interdum velit euismod in pellentesque massa placerat. Ut eu sem integer vitae justo. In
                                egestas erat imperdiet sed euismod nisi porta lorem. Leo integer malesuada nunc vel
                                risus
                                commodo. Turpis egestas maecenas pharetra convallis posuere morbi leo urna molestie. Leo
                                duis ut diam quam nulla. Leo in vitae turpis massa sed. Sit amet venenatis urna cursus
                                eget.
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3 mt-4">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                data-bs-target="#exampleModalFullscreen2">Full
                screen below lg Modal</button>
            <div class="modal fade" id="exampleModalFullscreen2" tabindex="-1"
                aria-labelledby="exampleModalFullscreenLabel" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-fullscreen-lg-down">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title h4" id="exampleModalFullscreenLabel">Full screen below lg modal</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            ......
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3 mt-4">
             <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal5">
                 Notification
             </button>

             <!-- Modal -->
             <div class="modal fade" id="exampleModal5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                 <div class="modal-dialog modal-sm" role="document">
                     <div class="modal-content bg-danger border-danger">
                         <div class="modal-header border-0">
                             <h5 class="modal-title text-white" id="exampleModalLabel">Attention</h5>
                             <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                                 aria-label="Close"></button>
                         </div>
                         <div class="modal-body text-center">
                             <i class="fas fa-bell fa-4x mb-3 text-white"></i>
                             <p class="text-white mt-3 opacity-75">Lorem ipsum dolor sit amet, consectetur
                                 adipiscing
                                 elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                         </div>
                         <div class="py-4 px-3">
                             <div class="d-flex justify-content-between">

                                 <button type="button" class="btn btn-light"
                                     data-bs-dismiss="modal">Accept</button>
                                 <button type="button" class="btn text-light" data-bs-dismiss="modal">Close</button>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
        </div>
    </div>
</div>