<div class="container">
    <div class="row mt-5">

        <div class="col-lg-3 col-md-6 position-relative text-center" id="popover-container">
            <a href="#!" tabindex="0" role="button" data-bs-toggle="popover" class="btn btn-primary my-3 popover-color"
                title="" data-color="primary" data-bs-trigger="click"
                data-bs-content="Popover body content is set in this attribute." data-bs-container="#popover-container"
                data-bs-placement="top" data-bs-original-title="Popover title">
                Popover on top
            </a>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
            <a href="#!" tabindex="0" role="button" class="btn btn-primary popover-color my-3" data-bs-container="body"
                data-bs-trigger="focus" data-bs-toggle="popover" data-color="success" data-bs-placement="right"
                data-bs-content="Right popover">
                Popover on right
            </a>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
            <a href="#!" tabindex="0" role="button" class="btn btn-primary my-3 popover-color" data-color="secondary"
                data-bs-trigger="focus" data-bs-container="body" data-bs-toggle="popover"
                data-bs-original-title="Popover title" data-bs-placement="bottom"
                data-bs-content="Popover body content is set in this attribute.">
                Popover on bottom
            </a>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
            <a href="#!" tabindex="0" role="button" class="btn btn-primary popover-color my-3" data-bs-container="body"
                data-bs-toggle="popover" data-color="warning" data-bs-trigger="focus" data-bs-placement="left"
                data-bs-content="Left popover">
                Popover on left
            </a>
        </div>
    </div>
</div>