// Color system

// scss-docs-start gray-color-variables
$white: #fff !default;
$gray-100: #fdfeff !default;
$gray-200: #f2f3f6 !default; 
$gray-300: #dee2e9 !default;
$gray-400: #cfdae3 !default;
$gray-500: #a4afbe !default;
$gray-600: #929fb4 !default;
$gray-700: #8491aa !default;
$gray-800: #5a697e !default;
$gray-900: #21263F !default;
$black: #000 !default;
// scss-docs-end gray-color-variables



// scss-docs-start color-variables

$blue: #205fb8 !default;
$indigo: #031b4e !default;
$purple: #521d91 !default;
$pink: #f40d30 !default;
$red: #E12D3C !default;
$orange: #c8460f !default;
$yellow: #fdb341 !default;
$green: #289d7c !default;
$teal: #83e4c8 !default;
$cyan: #0e95f5 !default;

$primary-color: #090f3f; 
$secondary-color: #d8183f; 


// scss-docs-end color-variables


