<html lang="en">
@@include("./_header.html", {"path":"..", "title":"Fabric Bootstrap UI kit by Themesin"})

<body>

    @@include("./_navigation.html", {"path":"..", "navbg": "navbar-dark bg-primary", "theme":"fabric"})

    <main>

        <div class="bg-primary content-header">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <h1 class="text-white display-2">Alerts</h1>
                        <p class="lead text-white opacity-75 mt-3">
                            Build collapsing accordion with fabric UI Kit.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container py-6">
            <div class="row">
                <div class="col-12">
                    @@include("./components/_alerts.html", {"path":".."})
                </div>
            </div>
        </div>

    </main>

    @@include("./_footer.html", {"path":"..", "theme":"fabric"})

    @@include("./_scripts.html", {"path":".."})


</body>

</html>