<header>
    <nav class="navbar navbar-expand-lg @@navbg">
        <div class="container-fluid">
            <a class="navbar-brand pt-0" href="../">
                <img src="@@path/assets/img/logo-white.svg" alt="logo" />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link h5" href="@@path/index.html">Overview</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link h5" href="@@path/sections/">Sections</a>
                    </li>


                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle h5" href="#" id="ddlComponents" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Components
                        </a>
                        <div class="dropdown-menu dropdown-menu-lg">
                            <div class="container-fluid">
                                <div class="row py-3">
                                    <div class="col-md-4">

                                        <a class="dropdown-item" href="@@path/components/accordion.html">Accordion</a>
                                        <a class="dropdown-item" href="@@path/components/alerts.html">Alerts</a>
                                        <a class="dropdown-item" href="@@path/components/badge.html">Badges</a>
                                        <a class="dropdown-item" href="@@path/components/breadcrumb.html">Breadcrumb</a>
                                        <a class="dropdown-item" href="@@path/components/buttons.html">Buttons</a>
                                        <a class="dropdown-item" href="@@path/components/button-groups.html">Button
                                            Groups</a>
                                        <a class="dropdown-item" href="@@path/components/card.html">Cards</a>
                                        <a class="dropdown-item" href="@@path/components/carousel.html">Carousel</a>
                                        <a class="dropdown-item" href="@@path/components/dropdown.html">Dropdowns</a>

                                    </div>
                                    <div class="col-md-4">
                                        <a class="dropdown-item" href="@@path/components/footers.html">Footers</a>
                                        <a class="dropdown-item" href="@@path/components/forms.html">Forms</a>
                                        <a class="dropdown-item" href="@@path/components/list-groups.html">List
                                            group</a>
                                        <a class="dropdown-item" href="@@path/components/modal.html">Modal</a>
                                        <a class="dropdown-item" href="@@path/components/navbar.html">Navbar</a>
                                        <a class="dropdown-item" href="@@path/components/navs.html">Navs</a>
                                        <a class="dropdown-item" href="@@path/components/offcanvas.html">Offcanvas</a>
                                        <a class="dropdown-item" href="@@path/components/pagination.html">Pagination</a>
                                        <a class="dropdown-item" href="@@path/components/popovers.html">Popovers</a>

                                    </div>
                                    <div class="col-md-4">

                                        <a class="dropdown-item" href="@@path/components/progress.html">Progress</a>
                                        <a class="dropdown-item" href="@@path/components/quote.html">Quote</a>
                                        <a class="dropdown-item" href="@@path/components/scrollspy.html">Scrollspy</a>
                                        <a class="dropdown-item" href="@@path/components/spinners.html">Spinners</a>
                                        <a class="dropdown-item" href="@@path/components/tables.html">Tables</a>
                                        <a class="dropdown-item" href="@@path/components/toasts.html">Toasts</a>
                                        <a class="dropdown-item" href="@@path/components/tooltips.html">Tooltip</a>
                                        <a class="dropdown-item" href="@@path/components/typography.html">Typography</a>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle h5" href="#" id="ddlPages" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Pages
                        </a>
                        <div class="dropdown-menu">
                            <div class="row py-2">
                                <div class="col ps-3">

                                    <a class="dropdown-item" href="@@path/pages/home.html">Home</a>
                                    <a class="dropdown-item" href="@@path/pages/casestudy.html">Casestudy</a>
                                    <a class="dropdown-item" href="@@path/pages/about.html">About</a>
                                    <a class="dropdown-item" href="@@path/pages/blog.html">Blog</a>
                                    <a class="dropdown-item" href="@@path/pages/contact.html">Contact</a>
                                    <a class="dropdown-item" href="@@path/pages/404.html" target="_blank">404</a>


                                </div>


                            </div>

                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle h5" href="#" id="ddlDocumentation" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Theme
                        </a>
                        <div class="dropdown-menu">
                            <div class="row py-2">
                                <div class="col">
                                    <a class="dropdown-item" href="@@path/components/all.html" target="_blank">All
                                        Components</a>
                                    <a class="dropdown-item" href="https://themesin.com/documentation/@@theme"
                                        target="_blank">Documentation</a>
                                    <a class="dropdown-item" href="https://themesin.com/company/contact"
                                        target="_blank">Support</a>


                                </div>

                            </div>

                        </div>
                    </li>

                </ul>
                <div>
                    <a class="btn btn-secondary btn-sm" target="_blank"
                        href="https://themesin.com/products/ui/@@theme">Download <i class="fas fa-download"></i></a>
                </div>

            </div>
        </div>
    </nav>
</header>