.dropdown-toggle {

    outline: 0 !important;
    
    &.show::after,
    &.show::before {
        transform: rotate(180deg);
    }
}

.dropdown-toggle:before,
.dropdown-toggle:after {
    transition: transform .2s ease-in-out;
}

.dropdown-header {
    font-size: $font-size-base;
    user-select: none;
}

.dropdown-menu {

    text-rendering: optimizeLegibility;
    

    & .dropdown-item {
        transition: color .15s ease;
    }

    &.show {
        animation: fade-in .25s ease forwards;
    }
}



@include media-breakpoint-up(md) {

    .dropdown-menu-sm {
        min-width: 15rem;
    }

    .dropdown-menu-md {
        min-width: 22rem;
    }

    .dropdown-menu-lg {
        min-width: 30rem;
    }

    .dropdown-menu-xl {
        min-width: 40rem;
    }

}