.input-group {

    & .input-group-text{
        transition: border-color 0s;
    }

    .input-group-text:not(:first-child) {
        border-left: 0;
    }

    .input-group-text:not(:last-child) {
        border-right: 0;
    }

    & .form-control {
        box-shadow: none;
        z-index: 1 !important;
    }

    &.input-group-focus .input-group-text {
        transition: border-color .15s ease-in-out;
        border-color: $primary;
    }

}